@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Mono", monospace;
  font-family: "Ubuntu", sans-serif;
}
section {
  padding: 100px;
  display: flex;
  flex-wrap: nowrap;
}
.half-div {
  width: 50%;
  padding: 20px;
}

div img {
  height: 475px;
  width: 364px;
  margin-left: 255px;
}

.mission-heading span {
  color: orange;
  font-size: 50px;
}

.mission-heading {
  font-size: 50px;
}

.link-btn {
  text-decoration: none;
  background-color: rgb(227, 100, 15);
  padding: 12px 40px;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
}
.three-half {
  width: 33%;
  padding: 20px;
  border-radius: 10px;
}

.three-half img {
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
}

.my-mission-heading {
  text-align: center;
  font-size: 50px;
}

.my-mission-heading span {
  color: orange;
  font-size: 50px;
}

.three-half p {
  width: 300px;
}

.mission-card {
  background-color: palegoldenrod;
  margin-right: 20px;
}
.vission {
  background-color: rgb(97, 196, 75);
  margin-right: 20px;
}

.goal {
  background-color: coral;
}

.devolopment img {
  margin-left: 60px;
  height: 400px;
  width: 440px;
}
.devolopment-heading {
  font-size: 45px;
}
.commonity img {
  margin-left: 70px;
  width: 300px;
  height: 325px;
}

.commonity {
  background-image: url(./image/shape-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 600px;
}
